<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065911446908-f5o8mvjgm0ec3vogrv8atc0il331tgui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065911446908-f5o8mvjgm0ec3vogrv8atc0il331tgui</string>
	<key>API_KEY</key>
	<string>AIzaSyAFKHTSowHud0phY2uZOMVHdX6ZVRTc-sE</string>
	<key>GCM_SENDER_ID</key>
	<string>1065911446908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsMeet</string>
	<key>PROJECT_ID</key>
	<string>sportsmeet-6622a</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsmeet-6622a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065911446908:ios:77f758424f6e01887f48f9</string>
</dict>
</plist>